<div class="row">
    <div class="col-lg-4"  (click)="displayForm()" (dblclick)="hideForm()">
        <div class="list-group-item clearfix" *ngFor="let docker of data">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{message}}</h4>
            </div>
            <span class="pull-right">
            <img [src]="docker.dockerImage" class="img-responsive" style="max-height: 100px" draggable="false">
        </span>
        </div>
    </div>
    <div class="col-lg-12">
        <app-new-instance *ngIf="openForm"></app-new-instance>
    </div>

</div>

