<!--The content below is only a placeholder and can be replaced.-->
<div class="docker">
    <div class="container">
        <app-header></app-header>
        <div class="row">
            <div class="col-lg-8">
                <app-forms></app-forms>
            </div>
            <div class="col-lg-4">
                <div class="container hero">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-1 hidden-xs hidden-sm phone-holder">
                            <div class="iphone-mockup"><img src="{{ phone }}" class="device">
                                <div class="screen"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



